# Optional Environment Variables to Override Default Ports & Frappe Branch Settings
# FRAPPE_BRANCH=v16.17.5
# FRAPPE_PATH=https://github.com/frappe/frappe
# DEV_PORT=8000
# SOCKETIO_PORT=9000
# SOCKETIO_DEV_PORT=8001
